@charset "utf-8";

	body{
		background-color: #dddfff;
		margin: 0px;
	}

	a{
		text-decoration: none;
	}
	


	
	.container{
		width: 1400px;
		height: 1525px;
		padding: 5px 5px 5px 5px;
		margin-left:1px;
		margin-right:1px;
		margin-top: -205px;
                
                
	}

.headTitle{
  	color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    font-family:  Copperplate Gothic Light;
    font-weight: bold;
    margin-left: auto;
    margin-top: -110px;
    margin-right: auto;
}
	.logo{
		width: 140px;
		height: 140px;
		background-image:url( new.png);
		background-size: cover;
		background-position: center;
		margin-left: 50px;
		border-radius: 10% 20% 10% 20%;
	}



	
	

/*Header and Footer*/
	.header{
		background-color: none;
		margin-left: 1px;
		margin-right: 1px;
		width: 1510px;
		height: 200px;
                background-image: url(soccer-stock.jpg);
                
	}
	.home1{
		float: left;
		border-radius: 25px 6px ;

	}
	.home1 a{
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px 14px 16px;
		text-decoration: none;
		border-radius: 10px ;
		}
	
.nav{
	list-style: none;	
  	width: 1470px;
  	height:50px;
  	padding-top: -50px;
  	align-content: center;
  	background-color:#ffa31a;;
  	font-family: "Trebuchet MS",Sans-serif;
        margin-top: -50px;
}
	.home1 a:hover:not(.home) {
		background-color: #205B5A;
        

	}
	
	a{
		width: 80px;
		font-size: 20px;
	}
	.footer{
		background-color: none;
		margin-left: 1px;
		margin-right: 1px;
		width: 1510px;
		height: 200px;
		margin-top: 300px;
        background-image: url(soccer-stock.jpg);
	}
	.gallery1{
		background-image: url(download.png);
		background-size:     cover;                     
		background-position: center;
		height: 50px;
		width: 50px;
		margin-left: 1160px;
		border-radius: 10px;
	}
	.gallery2{
		background-image: url(f.png);
		background-size:     cover;                      /* <------ */
		background-position: center;
		height: 50px;
		width: 50px;
		margin-top: 10px;
		margin-left: 1160px;
		border-radius: 10px;
	}
	.gallery3{
		background-image: url(t.png);
		background-size:     cover;                      
		background-position: center;
		height: 50px;
		width: 50px;
		margin-top: 10px;
		margin-left: 1160px;
		border-radius: 10px;
	}
	#text2{
		color: #ffffff;
		width: 140px;
		position: absolute;
		margin-left: 1040px;
		margin-top: -170px;
	}
	#text3{
		color: #ffffff;
		width: 150px;
		position: absolute;
		margin-left: 1230px;
		margin-top: -170px;
	}	
	#text4{
		color: #ffffff;
		width: 150px;
		position: absolute;
		margin-left: 1230px;
		margin-top: -110px;
	}
	#text5{
		color: #ffffff;
		width: 150px;
		position: absolute;
		margin-left: 1230px;
		margin-top: -50px;
	}
	
	.home3{
		float: left;
		border-radius: 25px 6px ;
		list-style-type: none;
		margin-top: -9px;
	}
	.home2 a{
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px 14px 16px;
		text-decoration: none;
		border-radius: 50px 11px ;
		}
	.home3 a{
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px 14px 16px;
		text-decoration: none;
		border-radius: 50px 11px ;
		width: 250px;
		}
	.home2 a:hover{
		background-color: #FFA31A;

	}
	.home3 a:hover{
		background-color: #FFA31A;

	}



	.nav2{
		
    	padding: 0;
   	 	overflow: hidden;
		width: 679px;
		margin-top: -65px;
		position: absolute;
		margin-left: 18px;
	}

.header2{
		margin-left: 1px;
		height: 205px;
	}

.footer2{
		height: 200px;
		margin-top: -195px;
	}



	
	
	

	

